<header class="site-header">
    <div class="wrapper">
        <a class="site-title" rel="author" href="{{ " /" | relative_url }}">{{ site.title }}</a>
        <nav class="site-nav">
            <div class="trigger">
                <a class="page-link" href="{{ " /blog/" | relative_url }}">Blog</a>
                <a class="page-link" href="{{ " /research/" | relative_url }}">Research</a>
                <a class="page-link" href="{{ " /photography/" | relative_url }}">Photography</a>
                <a class="page-link" href="{{ " /hobbies/" | relative_url }}">Hobbies</a>
            </div>
        </nav>
    </div>
</header>