<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ " /assets/css/styles.css" | relative_url }}">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
    {% include header.html %}
    {% include navigation.html %}
    <main class="page-content" aria-label="Content">
        <div class="wrapper layout-container">
            <div class="main-content">
                {{ content }}
            </div>
            {% include sidebar.html %}
        </div>
    </main>
    {% include footer.html %}

    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>

</html>