---
layout: default
---

<div class="home">
  {% for post in site.posts %}
    <article class="post-content">
      <header class="post-header">
        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <div class="post-meta">
          {{ post.date | date: "%A, %B %-d, %Y" }}
          {% if post.author %} • {{ post.author }}{% endif %}
        </div>
      </header>

      <div class="post-excerpt">
        {{ post.excerpt }}
        <p><a href="{{ post.url | relative_url }}" class="read-more">Read more...</a></p>
      </div>
    </article>
  {% endfor %}
</div>
